<% content_for(:title) { 'Rideshare Rails - Home' } %>
<div class="home container text-center">
<h3>Rideshare Rails Admin Portal</h3>
  <div class="row">
    <div class="col-md-6 text-center">
    <h3>Manage Passengers</h3>
      <ul>
        <%= link_to passengers_path, class: "big-nav" do %><li id="view-passengers">View all passengers</li><% end %>
        <%= link_to new_passenger_path, class: "big-nav" do %><li id="add-passengers" >Add new passenger</li><% end %>
      </ul>
    </div>
    <div class="col-md-6 text-center">
    <h3>Manage Drivers</h3>
      <ul>
        <%= link_to drivers_path, class: "big-nav" do %><li id="view-drivers">View all drivers</li><% end %>
        <%= link_to new_driver_path,  class: "big-nav" do %><li id="add-drivers" >Add new driver</li><% end %>
      </ul>
    </div>
  </div>
</div>


<%# render template: "layouts/application" %>