  <body>
  <header>
  <h1>Welcome to the RideShareRails admin panel!</h1>
  <section>
    <ul>
      <li><%= link_to "View Passengers", passengers_path  %></li>
      <li><%= link_to "Add Passenger", new_passenger_path  %></li>
    </ul>
  </section>
    <section>
    <ul>
      <li><%= link_to "View Drivers", drivers_path  %></li>
      <li><%= link_to "Add Driver", new_driver_path %></li>
    </ul>
  </section>
  </header>
  </body>