// Styling of details. 


.profile {
  .row>div>div {
    background-color: #606165;
    padding: 30px;
    margin: 0 10px;
    border-radius: 12px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
}