// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home h3 {
  margin-top: 20px;
}

.home .col-md-6 {
  margin-top: 20px;
}


.home ul {
  padding:0;
  margin: 0;
}

.home li:first-child {
  margin-top: 20px;
}

.home li {
  padding: 80px 0;
  margin: 60px 30px;
  list-style: none;
  background-color: #3E3F41;
  border-radius: 12px;
}

.home .container {
  background-color:green;
}